name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Start SSH agent and add key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no root@85.121.4.216 << 'EOF'
            set -e
            cd /var/www/app_drones
            git checkout master
            git fetch --all
            git pull
            systemctl restart drones
          EOF
